<section>
    @if(localidade){
    <p-card [header]="localidade.localidade_nome" [style]="{width: '100%'}">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label for="localidade_id">Número da Localidade:
                        <strong>{{localidade.inventario_localidade_id}}</strong> </label>

                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label for="status_inventario">Status:
                        <strong>{{formatarStatus(localidade.status_inventario)}}</strong> </label>

                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label for="numero_bens">Bens Cadastrados: <strong>{{localidade.numero_bens}}</strong> </label>
                </div>
            </div>
        </div>
        <p-footer>
            <button pButton type="button" label="Voltar" icon="pi pi-arrow-left" (click)="voltar()"></button>
            <button style="margin-left: 10px;" pButton type="button" label="Imprimir" icon="pi pi-print" (click)="imprimir()"></button>
        </p-footer>
    </p-card>
    <div class="control-buttons p-mt-4 p-d-flex p-jc-between p-ai-center" style="display: flex;">
        <div class="p-button-group">
            <button pButton type="button" label="Tabela" icon="pi pi-table" [outlined]="displayMode === 'card'"
                (click)="toggleDisplayMode('table')">
            </button>
            <button pButton type="button" label="Card" icon="pi pi-th-large" [outlined]="displayMode === 'table'"
                (click)="toggleDisplayMode('card')">
            </button>
        </div>

        <div *ngIf="displayMode === 'card'" class="cards-per-row-selector" style="margin-left: 10px;">
            <p-dropdown [options]="cardsPerRowOptions" [(ngModel)]="selectedCardsPerRow" optionLabel="label"
                optionValue="value" placeholder="Cards por Linha">
            </p-dropdown>
        </div>
    </div>

    @if(displayMode === 'table'){
    <p-table [value]="bens" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Bens Cadastrados
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="patrimonio">Patrimônio <p-sortIcon field="patrimonio" /></th>
                <th style="width:40%" pSortableColumn="descricao">Descrição <p-sortIcon field="descricao" /></th>
                <th pSortableColumn="indica_desfazimento">Indica p/ desfazimento <p-sortIcon
                        field="indica_desfazimento" /></th>
                <th pSortableColumn="usuario_cadastrante">Cadastrado por <p-sortIcon field="usuario_cadastrante" /></th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bem>
            <tr (dblclick)="acessarBem(bem)" class="table-tr-small-padding">
                <td>{{ bem.patrimonio ?? 'Sem Patrimônio' }}</td>
                <td>{{ bem.descricao }}</td>
                <td>{{ bem.indica_desfazimento ? 'Sim': 'Não' }}</td>
                <td>{{ bem.usuario_cadastrante }}</td>
                <td>
                    <p-button icon="pi pi-search" (onClick)="acessarBem(bem)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    } @else {
    <div class="cards">
        <app-card-bem *ngFor="let bem of bens" [bem]="bem" class="col-{{selectedCardsPerRow}}">
        </app-card-bem>
    </div>
    }
    }
</section>