<p-menubar>
    <ng-template pTemplate="start">
        <img src="assets/check.png" height="40" class="mr-2" alt="Inventário Certo" />
        <p-button styleClass="p-button-rounded p-button-secondary p-button-text px-2" tooltipPosition="bottom"
            (onClick)="navigateTo('home')">
            <span class="material-symbols-outlined">Home</span>
        </p-button>
        <p-button styleClass="p-button-rounded p-button-secondary p-button-text px-2" tooltipPosition="bottom"
            (onClick)="navigateTo('localidades')">
            <span class="material-symbols-outlined">Localidades</span>
        </p-button>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button icon="pi pi-fw pi-power-off" styleClass="p-button-danger" pTooltip="Sair" tooltipPosition="bottom"
            (onClick)="logout()"></p-button>
    </ng-template>
</p-menubar>