<p-toast />
<section class="p-3">
    <p-panel header="Filtrar Bens" iconPos="start" [toggleable]="true" [collapsed]="false" class="cursor-pointer"
        styleClass="mb-5" toggler="header">
        <form class="grid formgrid" [formGroup]="formFiltro" (ngSubmit)="obterBens()">
            <div class="field col-6 lg:col-4">
                <label for="patrimonio">Patrimônio</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-times" (click)="limparCampo('patrimonio')" role="none"
                        *ngIf="formFiltro.get('patrimonio')?.value"></i>
                    <input id="patrimonio" name="patrimonio" type="text" formControlName="patrimonio" pInputText
                        (keyup.enter)="obterBens()" />
                </span>
            </div>

            <div class="field col-6 lg:col-4">
                <label for="descricao">Descrição</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-times" (click)="limparCampo('descricao')" role="none"
                        *ngIf="formFiltro.get('descricao')?.value"></i>
                    <input id="descricao" name="descricao" type="text" formControlName="descricao" pInputText
                        (keyup.enter)="obterBens()" />
                </span>
            </div>

            <div class="field col-6 lg:col-4">
                <label for="localidade">Localidades</label>
                <p-dropdown class="p-fluid" [options]="localidades" optionLabel="localidade_nome" [filter]="true"
                    filterBy="localidade_nome" [showClear]="true" formControlName="localidade"
                    placeholder="Selecione uma localidade"></p-dropdown>
            </div>

            <div class="field col-12 text-right filter-buttons">
                <p-button type="button" label="Filtrar" icon="pi pi-search"
                    styleClass="p-button-sm p-button-primary h-3rem mr-2" (click)="obterBens()">
                </p-button>
                <p-button type="button" label="Limpar Filtros" icon="pi pi-trash"
                    styleClass="p-button-sm p-button-danger h-3rem" [disabled]="!formFiltro.dirty"
                    (click)="limparFiltros()">
                </p-button>
            </div>
        </form>
    </p-panel>

    @if(loading){
    <div class="center-align">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    }
    @if(bens.length > 0){
    <div class="control-buttons p-mt-4 p-d-flex p-jc-between p-ai-center" style="display: flex;">
        <div class="p-button-group">
            <button pButton type="button" label="Tabela" icon="pi pi-table" [outlined]="displayMode === 'card'"
                (click)="toggleDisplayMode('table')">
            </button>
            <button pButton type="button" label="Card" icon="pi pi-th-large" [outlined]="displayMode === 'table'"
                (click)="toggleDisplayMode('card')">
            </button>
        </div>

        <div *ngIf="displayMode === 'card'" class="cards-per-row-selector" style="margin-left: 10px;">
            <p-dropdown [options]="cardsPerRowOptions" [(ngModel)]="selectedCardsPerRow" optionLabel="label"
                optionValue="value" placeholder="Cards por Linha">
            </p-dropdown>
        </div>
    </div>
    <div>
        @if(displayMode === 'table'){
        <p-table [value]="bens" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Bens Cadastrados
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="patrimonio">Patrimônio <p-sortIcon field="patrimonio" /></th>
                    <th style="width:40%" pSortableColumn="descricao">Descrição <p-sortIcon field="descricao" /></th>
                    <th pSortableColumn="indica_desfazimento">Indica p/ desfazimento <p-sortIcon
                            field="indica_desfazimento" /></th>
                    <th pSortableColumn="usuario_cadastrante">Cadastrado por <p-sortIcon field="usuario_cadastrante" />
                    </th>
                    <th>Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bem>
                <tr (dblclick)="acessarBem(bem)" class="table-tr-small-padding">
                    <td>{{ bem.patrimonio ?? 'Sem Patrimônio' }}</td>
                    <td>{{ bem.descricao }}</td>
                    <td>{{ bem.indica_desfazimento ? 'Sim': 'Não' }}</td>
                    <td>{{ bem.usuario_cadastrante }}</td>
                    <td>
                        <p-button icon="pi pi-search" (onClick)="acessarBem(bem)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        } @else {
        <div class="cards">
            <app-card-bem *ngFor="let bem of bens" [bem]="bem" class="col-{{selectedCardsPerRow}}">
            </app-card-bem>
        </div>
        }
    </div>
    }
</section>