<section class="p-3">
    <p-panel header="Filtrar Bens" iconPos="start" [toggleable]="true" [collapsed]="false" class="cursor-pointer"
        styleClass="mb-5" toggler="header">
        <form class="grid formgrid" [formGroup]="formFiltro" (ngSubmit)="filtrar()">

            <div class="field col-6">
                <label for="nome">Nome</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-times" (click)="limparCampo('nome')" role="none"
                        *ngIf="formFiltro.get('nome')?.value"></i>
                    <input id="nome" name="nome" type="text" formControlName="nome" pInputText
                        (keyup.enter)="filtrar()" />
                </span>
            </div>

            <div class="field col-6">
                <label for="situacao">Situação</label>
                <p-dropdown class="p-fluid" [options]="situacoes" optionLabel="label" [showClear]="true"
                    formControlName="situacao" placeholder="Selecione uma Situação"></p-dropdown>
            </div>

            <div class="field col-12 text-right filter-buttons">
                <p-button type="button" label="Limpar Filtros" icon="pi pi-trash"
                    styleClass="p-button-sm p-button-danger h-3rem" [disabled]="!formFiltro.dirty"
                    (click)="limparFiltros()">
                </p-button>
            </div>
        </form>
    </p-panel>

    <p-table [value]="localidadesFiltradas" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Localidades Cadastradas
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%" pSortableColumn="localidade_id">Nº Localidade</th>
                <th pSortableColumn="localidade_nome">Nome</th>
                <th pSortableColumn="numero_bens">Bens Cadastrados</th>
                <th pSortableColumn="status_inventario">Status</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-localidade>
            <tr (dblclick)="acessarLocalidade(localidade)" class="table-tr-small-padding">
                <td>{{ localidade.localidade_id }}</td>
                <td>{{ localidade.localidade_nome }}</td>
                <td>{{ localidade.numero_bens }}</td>
                <td>{{ formatarStatus(localidade.status_inventario)}}</td>
                <td>
                    <p-button icon="pi pi-search" (onClick)="acessarLocalidade(localidade)" />
                    @if(localidade.status_inventario == 'finalizada') {
                    <p-button icon="pi pi-file-pdf" class="actions" (onClick)="gerarPdf(localidade)" />
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>